.row
  .col-xs-12.col-sm-12.col-sm-offset-0.col-md-8.col-md-offset-2
    .nominations
      %table.table.table-striped.table-hover.table-responsive
        %tbody
          - Nominee.all.shuffle.each do |nominee|
            %tr
              %td.nominee-thumb.visible-xs
                %img{width: '100%', src: nominee.avatar_url}
              %td.nominee-name.visible-xs
                %h4.text-center
                  = nominee.name
                  %br
                  = link_to nominee.login, "https://github.com/#{nominee.login}", class: 'small', target: '_blank'
              %td.nominee-thumb.nominee-name.hidden-xs
                %img{width: '100%', src: nominee.avatar_url}
                %h4.text-center
                  = nominee.name
                  %br
                  = link_to nominee.login, "https://github.com/#{nominee.login}", class: 'small', target: '_blank'

              %td.nominee-reason.hidden-xs
                - nominee.votes.last.tap do |vote|
                  .clearfix
                    %blockquote= vote.reason

                    = link_to "https://github.com/#{vote.voter.login}", target: '_blank' do
                      %img.pull-right.img-circle{width: 40, height: 40, src: vote.voter.avatar_url}
                    = link_to vote.voter.name, "https://github.com/#{vote.voter.login}", class: 'pull-right voter-name', target: '_blank'
