.dash
  .row
    .col-xs-12
      .reason-bridge.animate

      .grid-container
        - Nominee.all.shuffle.in_groups_of(7).each do |group|
          - group.each do |nominee|
            - next if nominee.nil?
            .grid.text-center
              .nominee.nominee-thumb.nominee-name{ id: "github_id_#{nominee.github_id}" }
                %img.img-circle{width: '120', src: nominee.avatar_url}
                %h4.text-center
                  = nominee.name
                  %br
                  %small
                    = "@#{nominee.login}"

                - nominee.votes.sample(1).each do |vote|
                  .reason.hidden
                    = vote.voter.name
                    voted for
                    = "#{nominee.name}:"
                    %br

                    %em
                      = %{"#{vote.reason}"}


.overlay.animate
