%h2 Nominations

%ul
- Nominee.all.each do |nominee|
  %li
    = nominee.github
    = t('votes', count: nominee.votes_count)

%h2 Nominate

= simple_form_for @vote do |f|
  = f.input :nominee, label: "Nominee Github"
  = f.input :reason, label: "Reason"
  = f.input :voter, label: "Your Github"
  = f.button :submit, "Vote"
