%h2 Nominees

- Nominee.all.each_with_index do |nominee, index|
  .row
    .col-sm-1
      %img{width: 60, height: 60, src: nominee.avatar_url}
    .col-sm-3
      %p.lead
        = nominee.name
        %span.small= "(#{nominee.login})"
      %p
        = t('votes', count: nominee.votes_count)
    .col-sm-8
      %ul
        - nominee.votes.each do |vote|
          %li
            %p
              = '"'
              = vote.reason
              = '"'

              %br
              = "--"
              %img{width: 30, height: 30, src: vote.voter_user.avatar_url}
              = vote.voter_user.name
              %span.small= "(#{vote.voter_user.login})"

= render template: 'votes/new'
