.button-wrapper.text-center{ style: 'background: #fff; bottom: 0; height: 60px; left: 0; position: fixed; width: 100%' }
  .mockup-content
    .morph-button.morph-button-modal.morph-button-modal-2.morph-button-fixed
      %button#vote-button{ type: "button" }
        Vote or Nominate
      .morph-content
        %div
          .content-style-form.content-style-form-1
            %span.close-x
              &#10006;

            %h2 Vote / Nominate

            = simple_form_for @vote do |f|
              %p
                Nominate or vote for any Ruby developer based in Vancouver for the
                %strong #VanRuby
                Hero award.
              %p
                Make it count, as
                %strong you can only vote once
                !

              = f.input :nominee_id, label: "Nominee Github"
              = f.input :reason, label: "Reason"
              = f.input :voter_id, label: "Your Github"
              = f.button :submit, "Nominate"

