!!!
%html
  %head
    %title VanRuby Hero Awards 2015
    %meta{name: 'description', content: 'The VanRuby Hero Awards gives recognition to influential devs in the Vancouver Ruby community.'}
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    = javascript_include_tag 'modernizr.custom'

  %body{ id: "#{controller_name}-#{action_name}" }

    %h1.title
      = image_tag('vanruby-logo.png', width: 32, style: 'margin-right: 6px;vertical-align: -9px;')
      = "VanRuby Hero Awards 2015"
      = "... vote now at <strong>heroes.vanruby.org</strong> !".html_safe if action_name == 'dash'

    .container
      = render 'flash'
      = yield

    = javascript_include_tag 'application'
