<!DOCTYPE html>
<html>
<head>
  <title>VanRuby Heroes</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= javascript_include_tag 'modernizr.custom' %>
</head>
<body>
  <div class="container">
    <h1>VanRuby Heroes</h1>

    <%= render 'flash' %>

    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
